*{margin:0px;}


@font-face {
font-family: "Moon2.0";
src: url("Moon2.0-Regular.otf") format("opentype");

}
@font-face {
font-family: "Moon2.0Bold";
src: url("Moon2.0-Bold.otf") format("opentype");
}
@font-face {
font-family: "Moon2.0Light";
src: url("Moon2.0-Light.otf") format("opentype");

}






.tabs {
    float: left;
    width: 100%;
    text-align: center;
}
.tabs > section {  
 
  order: 999;
  
  
  width: 100%;
  
  
  display: none;
}
.tabs > input {
  
  

  opacity: 0;
  
 
  position: absolute;
}

.tabs > input[type=radio]:checked + label {
 
  background: yellow;
}

.tabs > input[type=radio]:checked + label + section {
 
  display: unset;
}





.tabs > label {
  padding: .5em 1em;
  background: #fff;
  border-right: 1px solid #798f99;
  display:inline-block;
  margin-top:30px;
  color:#000;
  cursor: pointer;
}
.tabs > label:last-of-type {
  border-right: none;
}
.tabs > input[type=radio]:checked + label {
    background: #013db9;
    color: #fff;
	cursor:inherit;
}
.tabs section {
  float:left;
  width:100%;
}
.newsline img {
    height: 80px;
}

body 
{background-color:black;
color:black;
font-family: 'Moon2.0', Arial, sans-serif;}

.bannerimage {
    height: 80vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    float: left;
	justify-content:space-between;
	margin-bottom:20px;
}
.aboutbanner {
    float: left;
    width: 50%;
}
.headersection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsline {
    display: flex;
    align-items: center;
}
.newsline div:first-child {
    padding-right: 20px;
}
.container{
position:relative;
height:40%;width:100%;
}
#cf {
  position:absolute;
  right:40%;
  bottom:15%;
}
#cf img {                                            
  position:absolute;
    transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
#newsbite {
    width: 100%;
    /* margin: 2px; */
    word-break: break-word;
    font-size: 35px;
    font-family: 'Moon2.0Bold', Arial, sans-serif;
    padding: 0px 40px 0px 0px;
    float: left;
    position: relative;
}
#newsbite::before { 
content:''; 
display:block; 
height:5px; 

background-color:#07F585; 
border: 0px black solid;
position:absolute; 
bottom:-2px; 
width:0%; 
transition:all ease-in-out 500ms; 
}
#newsbite:hover::before
 { width:100%; 

  }
#newsbite:hover{ background: rgba(0,5,8, 0.2); font-style:italic; }

.newsline{list-style:none; }

.newsbtn {
    border-radius: 10px;
    width: 70px;
    background-color: red;
    text-align: center;
    padding: 7px 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    float: left;
}
img.bottom {
    display: none;
}
img.top {
    display: block;
}
.bannerslides:hover img.bottom{
	display:block;
}
.bannerslides:hover img.top{
	display:none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
    padding: 5px 16px;
    color: #fff;
    background-color: rgb(0 5 8 / 65%);
    z-index: 9999 !important;
}

.content {
    padding: 0px;
    float: left;
    width: 100%;
}
ul.headermenu {
    float: left;
    width: 100%;
    text-align: left;
}
ul.headermenu li{
    float: none;
	display:inline-block;
}
ul.headermenu li a {
    color: #fff;
    text-decoration: none !important;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
	letter-spacing:1px;
}
.bannerslides a img {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
}
.spanright {
    position: fixed;
    right: 40px;
    top: 24px;
}

.sticky {
  position: fixed;
  top: 0;
	background: rgb(0 5 8 / 65%);
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

.column {
    float: left;
    width: 28.9%;
    margin: 2%;
    position: relative;
}
.column a img {
    width: 100%;
    height: 250px;
}
.column:nth-child(3){
	margin-right:0%;
}

.content h2{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
}
footer h3 {
    color: #fff;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffff;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
footer p {
    color: #fff;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 7px;
    line-height: 24px;
	letter-spacing:1px;
}
.textbox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    float: left;
    width: 100%;
    background-color: #000000a6;
    padding: 6px 10px 14px 10px;
    font-size: 20px;
    text-align: center;
}
.textbox a{ color:white; text-decoration:none;}

.column img:hover, .textbox a:hover{
opacity: 0.6;
}

article {
    text-align: left;
    font-size: 16px;
    color: #fff;
    margin: 50px;
    padding: 20px;
}
article h2 {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
footer {
    background: #013db9;
    padding: 10px;
    float: left;
    width: 100%;
}
footer ul {
    float: left;
    width: 100%;
    padding-left: 0px;
    list-style: none;
}
footer ul li {
    float: left;
    width: 100%;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 3px;
	letter-spacing:1px;
}
footer p a {
    color: #fff;
}
footer ul li a{
    float: left;
    padding-left: 0px;
    list-style: none;
	color:#fff;
	letter-spacing:1px;
}

footer a { text-decoration:none;
color:black;}
div#blogarticles {
    float: left;
    width: 100%;
}
div#goodnews {
    float: left;
    width: 100%;
}
.wrapper {
    transform-translate(-50%, -50%): ;
    max-width: 100%;
    width: 100%;
    background-color: mediumaquamarine;
    align: center;
    padding: 20px;
    border-radius: 5px;
    margin-left: 0px;
    float: left;
}
.imagediv {
    float: left;
    width: 45%;
    margin-right: 3%;
}
.imagediv img{
    float: left;
    width: 100%;
    height: auto;
}
.formdiv {
    float: left;
    width: 50%;
}
	 .wrapper h2 {text-align:center;margin-bottom:20px;text-transform:uppercase;letter-spacing:3px;color:blue;}
	 .wrapper .inputfield {margin-bottom:10px;}
	 .wrapper .inputfield input[type=text], .wrapper textarea {border:3px solid mediumspringgreen;width:100%;padding:10px;}
	 .wrapper textarea {resize:none;height:80px;}
	 .wrapper .btn input[type=submit] {border:0px;margin-top:15px; padding:10px;text-align:center;width:100%;background-color:lightgray;color:black;text-transform:uppercase;letter-spacing:5px;font-weight:bold;border-radius:25px;cursor:pointer;}
	 #errormessage { margin-bottom:20px; background:#fe8b8e; padding:0px; text-align:center; font-size:14px; transition: all 0.5s ease; }




@media screen and (max-width: 480px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
.column { width: 100%;}
.bannerimage {
    display: inherit;
    padding: 0px 15px;
    margin-bottom: 20px;
	height:100%;
	padding-bottom:25px;
	text-align: center;
}
.aboutbanner {
    float: left;
    width: 100%;
    text-align: center;
	margin-bottom:40px;
}
.newsbtn {
    float: none;
}
#newsbite {
    width: 100%;
    font-size: 22px;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
	text-align:Center;
}
.bannerslides a img {
    width: 100%;
    max-width: 100%;
    max-height: auto;
}
ul.headermenu {
    padding-left: 0px;
}
ul.headermenu li a {
    padding-right: 9px;
    font-size: 15px;
}
.newsline div:first-child {
    padding-right: 10px;
}
.tabs > label {
    padding: 5px 7px;
    font-size: 14px;
}
.imagediv {
    float: left;
    width: 100%;
    margin-right: 0%;
}

.formdiv {
    width: 100%;
}
}
